:root {
    --icon: rgb(211, 210, 208);
    --blue-bg: rgb(10 8 31);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

html {
    background-color: var(--blue-bg);
}

/* Estilos para los bloques */
img {
    width: 100%;
}

main {
    margin-top: 30%;
}

h1 {
    font-size: 118%;
    margin-bottom: 4px;
}

@keyframes gradient {
    0% {
        background-position: 0% 0;
    }

    100% {
        background-position: 100% 0;
    }
}

h2 {
    font-size: 150%;
    margin-bottom: 6px;
    background: linear-gradient(42deg, rgba(177, 80, 251, 1) 11%, rgba(118, 130, 237, 1) 50%, rgba(48, 210, 223, 1) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    animation: gradient 2.5s infinite alternate;
}





/* efecto hover para desktop */
/* h2 {
    font-size: 150%;
    margin-bottom: 6px;
    background: linear-gradient(42deg, rgba(177, 80, 251, 1) 11%, rgba(118, 130, 237, 1) 50%, rgba(48, 210, 223, 1) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    transition: background-position 0.5s;
    text-align: center;
}

h2:hover {
    background-position: 100% 0;
} */
h3 {
    font-size: 90%;
    margin-bottom: 6px;
    background: linear-gradient(42deg, rgba(177, 80, 251, 1) 11%, rgba(118, 130, 237, 1) 50%, rgba(48, 210, 223, 1) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    transition: background-position 0.5s;
}

h3:hover {
    background-position: 100% 0;
}

p {
    font-size: 77%;
    font-weight: 400;
    margin-top: 7px;
    line-height: 1.4;
}

hr {
    height: 4px;
    width: 60%;
    background: linear-gradient(42deg, rgba(177, 80, 251, 1) 11%, rgba(118, 130, 237, 1) 50%, rgba(48, 210, 223, 1) 80%);
    background-size: 200% 100%;
    transition: background-position 0.5s;
    border: 1px solid black;
    margin-left: 20px;
    border-radius: 4px;
}



.block1 {
    background: var(--blue-bg);
    color: white;
    padding: 70px 39px;
    text-align: center;

}

.block2 {
    background: var(--blue-bg);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 62px 20px;

}

.block3 {
    background: var(--blue-bg);
    padding: 60px 0;

}

#projects {
    margin-left: 20px;
}
#skills{
    margin-left: 20px;

}


#block2 {
    position: relative;
    overflow: hidden;
}

#block2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 1;
}


/* Background transition */

#navbarNav a,
.icon-burguer {
    color: white;

}